h1{
	color: #FFD700; 
	font-family: Harrington;
	font-size: 700%;
	display: block;
	text-align: center;
	background-color: #A0522D;

	 background: -moz-linear-gradient(top, #8B0000 0%, #b96666 100%);
	background: -webkit-linear-gradient(#8B0000 0%, #b96666 100%);
	background: -o-linear-gradient(#8B0000 0%, #b96666 100%);
	background: linear-gradient(#8B0000 0%, #b96666 100%);
}
span{
	color: #8B0000;
	font-family: Harrington;
	font-weight: 900;
	display: block;
	text-align: center;
	
}
a{
	color: #8B0000;
	font-family: Harrington;
	display: block;
	text-align: center;
	background-color:#FFD700;
	width: 200px;
	padding: 4px;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
}
a:hover {background-color: #8B0000;
color: #FFD700;}


